<%= content_for :title, 'Bahá’í Calendar' %>
<%= content_for :active, 'bahai-calendar' %>
<article>
  <header>
    <h1>Bahá’í Calendar</h1>
  </header>

  <div class="content">
    <p>The Bahá’í calendar, also called the Badí‘ calendar (badí‘ means wondrous or unique), is used by followers of the Bahá’í Faith. More information about it can be found on the Wikipedia page: <a href="http://en.wikipedia.org/wiki/Bah%C3%A1%27%C3%AD_calendar">http://en.wikipedia.org/wiki/Bahá’í_calendar</a></p>

    <p>Below is a rendition of the Bahá’í Calendar showing significant dates, as well as matching dates on the Gregorian calendar. The design is based on the image found on <a href="http://www.bahai.org/dir/community/calendar" target="_blank">this page</a>.<br>
    <a href="<%= image_url('bahai-calendar.png') %>"><img height="323" src="<%= image_url('bahai-calendar.png') %>" width="3681"></a></p>

    <p>Here is the full view: (<a href="<%= asset_url('bahai-calendar.html') %>" target="_blank">new window</a>)<br>
    <iframe height="360px" src="<%= asset_url('bahai-calendar.html') %>" width="960px"></iframe></p>
  </div>
</article>
