<header class="site-header" id="masthead">
  <hgroup>
    <h1 class="site-title"><%= link_to 'Bahá’í Date Today', root_url, title: 'Bahá’í Date Today', rel: 'home' %></h1>
  </hgroup>


  <nav id="site-navigation">
    <button class="menu-toggle">Menu</button> <a class="assistive-text" href="#content" title="Skip to content">Skip to content</a>

    <div class="menu-menu-container">
      <ul class="nav-menu" id="menu-menu">
        <li class="home<%= ' active' if yield(:active) == 'home' %>">
          <%= link_to 'Home', root_url, id: 'home' %>
        </li>

        <li class="bahai-calendar<%= ' active' if yield(:active) == 'bahai-calendar' %>">
          <%= link_to 'Bahá’í Calendar', page_url('bahai-calendar'), id: 'bahai-calendar' %>
        </li>

        <li class="table-of-dates<%= ' active' if yield(:active) == 'table-of-dates' %>">
          <%= link_to 'Table of Dates', page_url('table-of-dates'), id: 'table-of-dates' %>
        </li>

        <li class="about<%= ' active' if yield(:active) == 'about' %>">
          <%= link_to 'About', page_url('about'), id: 'about' %>
        </li>
      </ul>
    </div>
  </nav>
</header>
